# Ignore generated config.h
config.h

# Ignore binaries/temporary stuff
.libs
.deps
*.o
*.lo
*.la
igloo.pc

# Autofoo stuff
stamp-h1
libtool
config.h.in
config.h.in~
config.log
config.status
configure
build-aux/
autom4te.cache/
aclocal.m4
.dirstamp

# Ignore generated Makefiles
Makefile
Makefile.in

# Ignore test temp files
ctest_*.log
ctest_*.test
ctest_*.trs
test-suite.log

# Ignore vim swap files
.*.swp

# Other
.DS_Store
